.media_section{
    width: 100%;
    margin: auto;
    background-color:#1F2224;
    ;
    padding-bottom: 2rem;
    z-index: 1;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_div{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media_img{
    width: 100%;
    width: 100%;
    z-index: 2;
    margin-top: -100px;
    object-fit: contain;
}

.media_icon{
    position: absolute;
    top: 90%;
    z-index: 3;
}
@media only screen and (max-width:768px) {
    .media_img {
        margin-top: 0px;
    }
}
